.profile-wrapper{
  width: 100vw;
  // height: 100vh;
  background-color: $back-gray;
  
  &__contents {
    width: 1020px;
    margin: 0 auto 0;
    margin-top: 40px;
    display: flex;

    &__left{
      width: 280px;
      height: 500px;
      background-color: white;
      margin: 0 40px 0 0;
    }
    &__right{
      width: 700px;
      height:500px;
      background-color: white;
      text-align: center;

      .profile-heading{
        font-size: 24px;
        font-weight: 600;
        padding: 8px 24px;
      }

      .profile-form{
        &__icon{
          background-image: image-url("colorful_banner.png");          background-size: contain;
          background-position: center;
          padding: 72px 16px 24px;

          &__nickname{
            .nickname-default{
              padding: 10px 16px 8px;
              border-radius: 4px;
              border: 1px solid #ccc;
              font-size: 16px;
            }
          }
        }
        &__content{
          padding: 40px 16px;
          &__text{
            .introduction-default{
              min-height: 216px;
              width: 100%;
              min-height: 104px;
              border: 1px solid #ccc;
              font-size: 16px;
              display: block;
            }
          }
          &__btn{
            .profile-form-send-btn{
              width: 100%;
              line-height: 48px;
              margin: 16px 0 0;
              background:$corporate-red;
              border: 1px solid #ea352d;
              color: #fff;
              border-style: none;
              display: block;
              font-size: 14px;
              border: 1px solid transparent;
            }
          }
        }
      }
    }
  }
}