// 背景などでよく使う色
$back-gray: #f5f5f5;             // 背景色
$footer-black: #212121;     // フッター背景の黒色
$white: #fff;               // 白い部分

// 文字などでよく使う色
$black: #333;               // 文字で使う黒色
$light-blue: #0099e8;       // テキストリンクで使われる水色
$gray: #808080;             // 灰色
$silver: #c0c0c0;

// その他の色
$shadow: rgba(0,0,0,0.18) 0px 2px 4px;  // 影の色（黒色18%の濃さ）,左右2px,下に4pxの影が出る
$corporate-red: #ea352c;              // 赤色（出品ボタンなど）
$line-silver: #c0c0c0;             // formの線の色