.wrapper{
  background: rgb(245, 245, 245);
  .content-wrapper{
    background-color: $back-gray;
    .white-bar{
      position:relative;
      border-top:1px solid #eee;
      box-shadow:0 3px 3px 0 $shadow;
      width:100%;
      height:48px;
      background-color:$white;
      .pan{
      overflow: visible;
      display:flex;
      width:1020px;
      height:48px;
      padding-left:150px;
      
        & li{
          display: inline-block;
          font-size: 15px;
          line-height: 48px;
          list-style: none;
          text-overflow: ellipsis;
          white-space: nowrap;
          .text{
            color:#333;
          }
        }
        & i{
          margin: 0 8px;
          font-size: 20px;
          color: #888;
        }
      }
    }
    
    .main-container{
      margin:40px auto 0;
      width: 1020px;
      height:1292px;
    
      &__right{
        width:700px;
        height:179px;
        float: right;
        background-color: $white;
        & form{
          padding: 64px;
          .single-content{
            max-width: 320px;
            margin: 0 auto;
            & button{
              background-color:#ea352d;
              color:$white;
              width:320px;
              height:50px;
              font-size: 14px;
              cursor: pointer;
            }
          }  
        }
      }
    }
  }
}
