-# 出品ページ
-# ①ヘッダー、②コンテンツ、③フッター、の大きく3要素でできている
.exhibit-wrapper

  -# ①ヘッダー
  = render 'items/layouts/exhibit_header'

  -# ②コンテンツ（formがメインになっている）
  .exhibit-wrapper__contents
    .exhibit-page-description
      商品の情報を入力
      -# form 出品ボタン
      .exhibit-form
        .exhibit-form__btn1
          = f.submit "出品する", class: "exhibit-form-send-btn"
        .exhibit-form__btn2
          %a{href: "javascript:history.back()", class: "exhibit-return-btn"} もどる

  -# ③フッター
  = render 'items/layouts/exhibit_footer'