.main-container__left{
  background:beige;
  float:left;
  width:280px;
  margin:0 40px 0 0;

  &__bar{
    margin:40px 0 0;

    .left-list-a{
      list-style: none;
      margin:8px 0 0;
      height:685px;

        .li{
          height:48px;
        }
        .a{
          position: relative;
          display: block;
          min-height: 48px;
          padding: 16px;
          background: #fff;
          font-size: 14px;
          color: #333;
          .icon-arrow-right{
            position: absolute;
            top: 50%;
            right: 16px;
            color: #ccc;
          }
      }
    }

    .left-list-head{
      margin:40px 0 0;
      font-size:16px;
    }
    .left-list-b{
      height:97px;
      .a{}
    }
  }
}
.main-banner{
background: url();
background-position:center;
background-size:cover;
background: red;
}