.main-container__left{
  float:left;
  width:280px;
  margin:0 40px 0 0;

  &__bar{
    & li{
      height:48px;
      border-top:1px solid #eee;
      
      & a{
        position: relative;
        display: block;
        padding: 16px;
        background:$white;
        font-size: 14px;
        color: #333; 
        & i{
          float: right;
          color:rgb(136, 128, 128);
        }
      }
    }

    .left-list-a{
      list-style: none;
      margin:8px 0 0;
      height:685px;
      }

    .left-list-head{
      margin:40px 0 0;
      font-size:16px;
    }
    .left-list-b{
      height:97px;
      margin: 8px 0 0;    
    }

    .left-list-head{
      margin:40px 0 0
    }
    .left-list-c{
      margin: 8px 0 0;
      height: 342px;
    }
    .icon-arrow-right{
      position: absolute;
      top: 50%;
      right: 16px;
      color: #ccc;
    }
  }
}