.main-container__right{
  width:700px;
  & li{
    list-style:none;
  } 
  &__user-icon{
    height:200px;
    position:relative;
    padding:20px;
    background-size:cover;
    text-align:center;
    background-color:#f1d0f6;
      & .fa-edit.fa {
          color:    $light-blue;
          text-decoration: underline;
        }
    & a{
      text-decoration: none;
      color: #333;
      & figure{
        padding: 30px 10px 0 0;
        & img{
          border-radius: 50%;
        }
      }  
      .bold{
        margin: 8px;
      }
      .number{
        display: flex;
        padding-left: 260px;
      }
    }
  } 
  &__notification-todo{
    margin:0;
    background:$white;

    &__tab{
      border: 0;
      background: #eee;
      display:flex;
      
      .active{
        border-top: 2px solid $corporate-red;
        color: #333;
        line-height: 72px;
        background-color: white;
      }
      & li{
        font-size: 22px;
        width:50%;
        display:inline-block;
        text-align: center;

        & a{
          text-decoration: none;
          position: relative;
          display: block;
          color: #333;
          font-size: 16px;
          line-height: 72px;
        }
      }
    }
    
    .tab-content{

      .ul-tab{
        display:block;

        & li{
          border-bottom: 1px solid #eee;
          position: relative;
          height:81px;
          display: flex;

          a{
            color: #333;
            text-decoration: none;
            display:flex;
            width:100%;
            padding:16px;


            figure{
              text-align: center;           
              position: relative;
              overflow: hidden;
              float: left;
              width: 48px;
              height: 48px;           
            }

            .mypage-item-body{
              margin: 10px 40px 0 20px;
              width:85%;
              .mypage-item-text{
                padding-bottom: 10px;
              }
            }
            i.fa.fa-chevron-right {
              padding:15px;
            }
          }
        }

          .tab-go-list{
            background: $white;
            padding:16px;
            & a{
              display: block;
              height: 56px;
              margin: 0 auto;
              background: #eee;
              color: #333;
              line-height: 56px;
              text-align: center;
            }
        }
      }
    }
  }

  &__under{
    margin:40px 0 0;
    background:#fff;
    .buy-item-head{
      border:0;
      padding:0 16px;
      background: #fafafa;
      line-height:72px;
    }
      .mypage-tabs{    
        height: 74px ;
        border:0;
        background:#eee;
        list-style: none;
        display: flex;

        & li{
          width: 50%;
          display: block;
          text-align: center;
          line-height: 74px;
          .active{
            background-color: $white;
            border-top: 2px solid $corporate-red;
            font-size: 16px;
        }
    }  
  }
    .under-content{
      height:236px;
        .content-inner{
          text-align: center;
          line-height: 236px;
      }
    }
  }
}