.main-container__right{
  width:700px;
  float: right;
  & li{
    list-style:none;
  } 
  &__user-icon{
    height:200px;
    position:relative;
    padding:20px;
    background-size:cover;
    text-align:center;
    background-color:rgb(224, 195, 230);
  }
  &__notification-todo{
    margin:0;
    background:#fff;

    &__tab{
      border: 0;
      background: #eee;
      display:flex;
      
      .active{
        color: #333;
        line-height: 72px;
        background-color: white;

      & h3{
        
      }
    }
      & li{
        font-size: 22px;
        width:50%;
        display:inline-block;
        text-align: center;


        
        & a{
          position: relative;
          display: block;
          color: #333;
          font-size: 16px;
          line-height: 72px;
        }
      }
    }
    
    .tab-content{

      .ul-tab{
        display:block;

        & li{
          border-bottom: 1px solid #eee;
          position: relative;
          height:81px;
          display: flex;
          a{
            display:flex;
            width:100%;


            figure{
              text-align: center;           
              position: relative;
              overflow: hidden;
              float: left;
              width: 10%;
              height: 48px;
             
            }

            .mypage-item-body{
              width:85%
              
            }
            i.fa.fa-arrow-right {
            line-height: 81px;
            text-align: center;
            }
          }
        }
      }
    }
  }

  &__under{
    margin:40px 0 0;
    background:#fff;

    .buy-item-head{
      border:0;
      padding:0 16px;
      background: #fafafa;
      line-height:72px;
    }
      .mypage-tabs{    
        height: 74px ;
        border:0;
        background:#eee;
        list-style: none;
        display: flex;

        & li{
          width: 50%;
          display: block;
          text-align: center;
          line-height: 74px;
          .active{
            background-color: #fff;
            border-top: 2px solid #ea352d;
            font-size: 16px;
        }
    }  
  }
    .under-content{
      height:236px;
        .content-inner{
          text-align: center;
          line-height: 236px;
        }
    }
  }
}