.exhibit-complete-wrapper {
  width: 100vw;
  height: 100vh;
  background-color: $back-gray;
  &__contents {
    text-align: center;
    width: 700px;
    background-color: $white;
    margin: 0 auto;
    &__title {
      font-size: 20px;
      font-weight: 600;
      padding: 40px;
      border-bottom: 1px solid $back-gray;
      color: $black;
    }
    &__box {
      padding: 40px;
      &__description {
        font-size: 15px;
        font-weight: 500;
        color: $black;
      }
      &__btn {
        margin-top: 50px;
        .continue-exhibit-btn {
          text-decoration: none;
          background-color: $corporate-red;
          color: $white;
          font-size: 15px;
          display: block;
          height: 50px;
          line-height: 50px;
        }
      }
      &__link {
        margin-top: 20px;
        .root-path-btn {
          text-decoration: none;
          color: $light-blue;
          font-size: 15px;
        }
      }
    }
  }
}