.item-buy-content{
  display: flex;
  margin: 20px 30px 20px;
  .item-photo{
  }
  .item-name-small{
    font-size: 15px;
    margin-left: 16px;
  }
}
.credit_cards-box-purchase{
  margin: 20px 30px 20px;
  h3.credit_card{
    margin-bottom: 5px;
  }
}



