.main-container__left
  %nav.main-container__left__bar
    %ul.main-container__left__bar__list
    %h3.main-container__left__bar__li-head メルペイ
    %ul.main-container__left__bar__list
    %h3.main-container__left__bar__li-head 設定
    %ul.main-container__left__bar__list
