.main-container__left
  %nav.main-container__left__bar
    %ul.left-list-a
      %li
        %a{href:"#"}
          マイページ
      %li
        %a{href:"#"}
          お知らせ
      %li 
        %a{href:"#"}
          やることリスト
      %li
        %a{href:"#"}
          いいね！一覧
      %li 
        %a{href:"#"}
          出品する
      %li 
        %a{href:"#"}
          出品した商品ー出品中
      %li 
        %a{href:"#"}
          出品した商品ー取引中
      %li 
        %a{href:"#"}
          出品した商品ー売却済み
      %li 
        %a{href:"#"}
          購入した商品ー取引中
      %li 
        %a{href:"#"}
          購入した商品ー過去の取引
      %li 
        %a{href:"#"}
          ニュース一覧
      %li 
        %a{href:"#"}
          評価一覧
      %li 
        %a{href:"#"}
          ガイド
      %li 
        %a{href:"#"}
          お問い合わせ
    %h3.left-list-head メルペイ
    %ul.left-list-b
      %li
        %a.mypage-nav-list-item{href:"#"}
          売上・振込申請
      %li
        %a.mypage-nav-list-item{href:"#"}
          ポイント
    %h3.left-list-head 設定
    %ul.left-list-c
      %li
        %a.mypage-nav-list-item{href:"#"}
          プロフィール
      %li
        %a.mypage-nav-list-item{href:"#"}
          発送元・お届け先住所変更
      %li
        %a.mypage-nav-list-item{href:"#"}
          支払い方法
      %li
        %a.mypage-nav-list-item{href:"#"}
          メール/パスワード
      %li
        %a.mypage-nav-list-item{href:"#"}
          本人情報
      %li
        %a.mypage-nav-list-item{href:"#"}
          電話番号の確認
      %li
        %a.mypage-nav-list-item{href:"#"}
          ログアウト
      
    
