.main-container__right
  %section.main-container__right__user-icon 
    %a{href: "#"}
      %figure
        %img{:alt => "", :height => "60", :src => "//static.mercdn.net/images/member_photo_noimage_thumb.png", :width => "60"}/
      %h2.bold 名前
      .number
        %div
          評価
          %span.bold 評価数
        %div
          出品数
          %span.bold 個数

  %section.main-container__right__notification-todo
    %ul.main-container__right__notification-todo__tab
      %li.active
        %h3
          %a
            お知らせ
            %span.mypage-nav-number.hidden-large
      %li
        %h3
          %a
            やることリスト
    .main-container__right__notification-todo__tab-content
      %ul
        %li
          %a.mypage-item-link{href: ""}
            %figure
              %img.saicoro{alt: "saicoro_logo_red.svg", src: "saicoro_logo_red.svg"}/
            .mypage-item-body
            .mypage-item-text おしらせ
            %time
            %i.icon-time
            %span 時間
            %i.icon-arrow-right
        %li
        %li
        %li
        %li
        %li
      %ul
        
  %section.main-container__right__under
