= render 'layouts/header'

%nuv.white-bar
メルカリ
マイページ
%main.main-container.clearfix

  .main-inner
    %section.user-icon
    %section.notification-todo
    %section.tab-container

  
  .main-side
    %nav.side-bar
      %ul.side-list
      %h3.side-list-head メルペイ
      %ul.side-list
      %h3.side-list-head 設定
      %ul.side-list




%aside.main-banner





= render 'layouts/footer'