= render 'layouts/header'

%nuv.white-bar
  %ul
    %li.itemscope.itemtype
      %span メルカリ

    %li.itemscope.itemtype
      %span マイページ
      パンくず
%main.main-container.clearfix
  %main-container__inner
    %section.main-container__inner__user-icon
    user-icon
    %section.main-container__inner__notification-todo
      .tab-container

  
  .main-side
    %nav.main-side__bar
      %ul.main-side__bar__list
      %h3.main-side__bar__li-head メルペイ
      %ul.main-side__bar__list
      %h3.main-side__bar__li-head 設定
      %ul.main-side__bar__list




%aside.main-banner





= render 'layouts/footer'