table.sitemap {
  background: #fff;
  width: 95%;
  margin: 10px auto;
  tr {
    height: 2rem;
  }
  th{
    font-size: 12px;
    background: #ccc;
    border: 1px solid $black;
    vertical-align: middle;
  }
  td{
    font-size: 12px;
    border: 1px solid $black;
    vertical-align: middle;
    text-align: center;
  }
}