= form_tag(action: :pay, method: :post) do
  %script.payjp-button{:src => "https://checkout.pay.jp", :type => "text/javascript" ,"data-text" => "購入する" ,"data-key" => "pk_test_1609ecc73a34d376c061c53d"}
