.users-wrapper {
  &__contents {
    margin-bottom: 40px;
    &__sign{  
      &__start{
        &__btn{
          width: 100%;
          height: 50px;
          background-color: $corporate-red;
          color: $white;
          font-size: 15px;
          border-style: none;
          cursor: pointer;
          text-align: center;
          margin-top: 40px;
          line-height: 50px;
        } 
      }
      &__complete{
        text-align: center;
      }
    }
  }
}
