.exhibit-wrapper__footer
  .exhibit-wrapper__footer__box
    .exhibit-wrapper__footer__box__logo
      =link_to image_tag("#{asset_path('logo_wjite_square.svg')}", size: "80x80", alt: "saicoro_logo_red"), root_path
    .exhibit-wrapper__footer__box__name
      Saicoro, Inc