.users-wrapper {
  // ②コンテンツ
  &__contents { 
    width: 700px;
    background-color: $white;
    margin: 0 auto;

    h2 {
      text-align: center;
      font-size: 20px;
      font-weight: 600;
      padding: 40px;
      border-bottom: 1px solid $back-gray;
      color: $black;
    }
    &__sign{
      padding: 24px 16px 40px;

      a{
        text-decoration: none;
        color: $white;
      }

      &__btn {
        border: none;
        display: block;
        width: 343px;
        height: 50px;
        margin: 16px auto;
        padding-left: 10px;
        text-align: left;
        line-height: 50px;
        border-radius: 4px;
        &.email{
          background-color: $corporate-red;          
        }
        &.facebook{
          background-color: #385185;
        }
        &.google{
          border: 1px solid $gray;
          color: $black; 
        }
      }
    }  
  }  
}
