%footer.main_footer
  .main_footer__wrapper
    .main_footer__wrapper__logo
      =link_to image_tag("#{asset_path('saicoro_logo_white.svg')}", size: "136x36", alt: "saicoro"), root_path
    .main_footer__wrapper__name Saicoro, Inc