%header
<<<<<<< Updated upstream
  = image_tag 'header_dummy', alt: 'dummy', height: '', width: '100%', class: ''
=======
  = image_tag 'src', alt: 'dummy', height: '', width: '100%', class: ''
>>>>>>> Stashed changes
