%header.main_header
  .main_header__wrapper
    .main_header__wrapper__logo
      =link_to image_tag("#{asset_path('saicoro_logo_red.svg')}", size: "136x36", alt: "saicoro"), root_path
    .main_header__wrapper__menu
      .main_header__wrapper__menu__user
        -# ===ログイン後の表示===========
        -# .main_header__wrapper__menu__user--mypage
        -#   = link_to '#' do
        -#     %i.fa.fa-user
        -#       %span マイページ
        
        -# ===ログイン前の表示===========
        %span.main_header__wrapper__menu__user--signup
          = link_to '#' do
            新規会員登録
        %span.main_header__wrapper__menu__user--signin
          = link_to '#' do
            ログイン

