%li.item-list__box__card
  .item-list__box__card__wrapper
    =link_to "#" do
      %figure
        .thumbnail
          = image_tag "#{asset_path('item_dummy.jpg')}", alt: 'item-name', height: '', class: ''
        %figcaption
          %span 【アウトレット】新車1万台（車検なし）、一部キズヘコミ有り、お気軽にご相談ください！
        %span.price ¥128,00
