%nav.white-bar
  %ul.pan
    %li
      = link_to root_path do
        メルカリ
      %i.fa.fa-chevron-right
    %li
      = link_to mypages_path do
        %span マイページ
      %i.fa.fa-chevron-right
    %li
      = link_to logout_index_path do
        ログアウト