%main.main_container.clearfix
  .main-content
    %section.content-top
      %a{href => ""}
        %figure
          %img src ="" alt width="60" height="60"
        %h2.bold ユーザー名
          .user-number
            %div
              評価
            %span.bold 評価数
            %div
              出品数
            %span.bold 出品数
    %section.user-tabs
      %ul.natification-todo
        %li.atification
          %h3
            %a{"data-toggle" => "tab", :href => ""}
              お知らせ
                %span.mypage-nav-number.hidden-large
                  99+
        %li.todo


  .main-side