%main.main_container.clearfix
  .main-content
    %section.content-top
      %a{href => ""}
        %figure
          %img src ="" alt width="60" height="60"
        %h2.bold ユーザー名
          .user-number
            %div
              評価
            %span.bold 評価数
            %div
              出品数
            %span.bold 出品数
    %section.user-tabs
      %ul.natification-todo
        %li.atification
          %h3
            %a{"data-toggle" => "tab", :href => ""}
              お知らせ
                %span.mypage-nav-number.hidden-large
                  99+
        %li.todo
          %h3
            %a{"data-toggle" => "tab", :href => ""}
              やることリスト
      .tab-inner
        %ul#tab-notification.mypage-item-list.tab-pane.active
          %li
            %a.mypage-item-link{"" => "", "" => "", :href => ""}
              %figure
                %img.lazyloaded{:alt => "", " " => "", :src => ""}/
              .mypage-item-body
                .mypage-item-text sample
                %time
                  %i.icon-time
                  %span お知らせ日
              %i.icon-arrow-right
          %li.view-list
            %a{""}一覧を見る
        %ul#tab-todo.mypage-item-list.tab-pane.active
          %li.not-fond.bold 現在やる事はありません
    %aside.modal{"data-close" => "modal", "data-modal" => "banner"}
      .modal-inner.modal-banner
        .modal-banner-eye-catch
          %img{:alt => "", :src => ""}/
          %img{:alt => "", :src => ""}/
      .modal-banner-body
        %h2 今すぐ無料ダウンロード！
        %p.bold 全ての機能を使えるスマホアプリはこちら！
        .modal-banner-app.clearfix
          %a.pull-left{:href => "https://itunes.apple.com/jp/app/id667861049?l=ja&mt=8", :target => "_blank"}
            %img{:alt => "", :src => "//www-mercari-jp.akamaized.net/assets/img/common/common/app-store.svg?1215422380"}/
          %a.pull-left{:href => "https://play.google.com/store/apps/details?id=com.kouzoh.mercari&hl=ja", :target => "_blank"}
            %img{:alt => "", :src => "//www-mercari-jp.akamaized.net/assets/img/common/common/google-play.svg?1215422380"}/
          %a.modal-banner-app-open{"" => "", "" => "", "" => "", "" => "", :href => ""}
           アプリで開く
        %i.icon-close{"data-close" => "modal"}
        
            
                


  .main-side